/* flex property not enabled */
/* this selector selects all divs inside of .container */
.container div {
  background: peachpuff;
  border: 4px solid brown;
  height: 100px;
  /* flex: 1; */

  text-align: center; /* aligns text horizontally */
  align-content: center; /* aligns text vertically */
  font-size: 1in;
}

/* flex property enabled */
.flex-container{
    display: flex; /* A FLEX CONTAINER is any element that has display:flex on it */
    background: aqua;
    height: 100px;
    width: auto;

    /* Box Properties */
    margin: 12px;
    padding: 12px;
    border: 4px solid blue;
}

/* this selector selects all divs inside of .flex-container */
/* all the divs inside of .flex-container are flex-items, so, in a way, you could consider this css for the FLEX-ITEMS*/
.flex-container div {
  background: peachpuff;
  border: 4px solid brown;

  /* flex is actually a shorthand for flex-grow, flex-shrink and flex-basis */
  flex: 1; /* flex: 1 is interpreted as flex: 1 1 0 */
}

/* The ".grow", ".shrink", and ".basis" are class names that just indicate that I will be changing that specific value in the flex property */
.flex-container .grow{ /* sets the growing factor relative to the others */
    flex: 2 0 0
}
.flex-container .shrink{ /* sets the shrinking factor relative to the others  */
    flex: 1 2 0
}
.flex-container .basis{ /* sets the initial size of a flex item */
    flex: auto
}

/* Axis */
/* Flex Direction is Column, not the default Row */
.flex-container-column{
    display: flex;
    height: 100px;
    width: auto;
    flex-direction: column;
}

.flex-container-column div{
    background: rgb(107, 211, 107);
    border: 4px solid rgb(250, 36, 36);
    flex: 1; /* since this means 1 1 0, which means flex-basis = 0, flex-grow and flex-shrink begin their calculations from 0 
    This is important to notice because for flex-direction: column, the empty divs by default have 0 height
    so for our flex items to fill up the height of their container, they don’t actually need to have any height at all */
}

/* Alignment section */
.font-size-container{
    font-size: 20px;
}

.height-padding-background-border-display{
    height: 140px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
}

.container-space-between {
    justify-content: space-between; /* justify-content aligns items across the x-axis (horizontal axis) */
}

.container-center{
    justify-content: center;
}

.container-align-items-center{
    align-items: center; /* aligns items across the y-axis (verticle axis) */
}

.container-gap{
    justify-content: center;
    align-items: center;
    gap: 16px; /* Creates a gap between flex items */
}

.item {
    font-size: 15px;
    text-align: center;
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
    /* flex: 1; */
}

/* Alignment section summary:
When flex-direction is default (row), justify-content aligns items across the x-axis and aligns items across the y-axis
When flex-direction is column, it's switched. 
gap: creates a gap*/